<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#b0·{
position:fixed;
    left:20px;
    top:20px;
}
#b1·{
position:absolute;
    left:10px;
    top:10px;
}
#b2·{
position:absolute;
    left:50px;
    top:50px;
}

</style>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div id="a"
		style="background-color: yellow; height: 100px; width: 100px"></div>
	<div id="b0" style="background-color: red; height: 200px; width: 200px">
		<div id="b1"
			style="background-color: blue; height: 160px; width:160px">
			<div id="b2"
				style="background-color: green; height: 80px; width: 80px">
			</div>
		</div>
	</div>
</body>
</html>